html {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color:white;
  background-image: url(../Imagenes/485826.jpg);
  background-size: 100vw 100vh;
  background-repeat:no-repeat;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


body {
  width: 900px;
  margin: 0 auto;
  background-color: #000000;
  padding: 0 20px 20px 20px;



}

ul{
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mover {
  border-radius: 50px;
  border: 5px solid white;
  box-shadow: 5px 5px 0px #828282;
  position: absolute;
  top: 30%;
  left: 25%;
}
.redes{
  width: 100%;
  -background: #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
}

.redes li{
  display: inline-block;

}

.redes li a{
  padding: 10px 20px;
  display: inline-block;
  color: white;
}

.redes li a:hover{
  background: #ccc;
  color: blue;
}
